	html{

		}
		h1{
			text-align: center;
		}
		.content{
				margin-left: 90px;
			margin-right:90px;
			height: 650px
		}

		#left{
			float: left;

		}
		#right{
			float:right;			
		}
		#foot{
			margin-left: 90px;
			font-size: 26px;
			font-family: 標楷體;
			font-weight: bold;
		}