@media screen and ( min-width:992 px) {
    .col-1 {
        width: 50.0%;
        border-radius: 50%;
    }
    .col-2 {
        width: 50.0%;
    }
    .col-3 {
        width: 16%;
    }
    .col-4 {
        width: 16.33%;
    }
    .col-5 {
        width: 16.66%;
    }
    .col-6 {
        width: 16%;
    }
    .col-7 {
        width: 16.33%;
    }
    .col-8 {
        width: 16.66%;
    }
    .col-9 {
        width: 16%;
    }
    .col-10 {
        width: 16.33%;
    }
    .col-11 {
        width: 16.66%;
    }
    .col-12 {
        width: 16%;
    }
    * {
        box-sizing: border-box;
    }
    [class*="col-"] {
        float: left;
        padding: 50px;
        border: 1px solid red;
    }
    img {
        width: 100px;
        height: 100px;
    }
}

@media screen and ( min-width:768px ) and ( maxwidth: 991px ){ 



	}